@import '_layout/_normalize';
@import '_fonts';
@import '_variables';
@import '_layout/_layout';
@import 'slick';

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    background: url('../img/lines.jpg') center no-repeat / cover;   
    font: 600 18px/1 $main-font;
    color: $primary-color;
}

/* Layout */

.ba-container {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1290px;
}


/* Typography */

a,
input[type="submit"],
input[type="button"],
button {
    transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="submit"],
input[type="button"],
button,
.ba-button {
    display: inline-block;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover {}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
    transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {}

textarea {}

.ba-main{
    padding-top: 40px;
}

.ba-header{
    padding: 50px;
    text-align: center;

    &__subtitle{
        text-transform: uppercase;
        letter-spacing: .2em;
        position: relative;
        
        &::after{
            position: absolute;
            content: "";
            width: 34px;
            height: 34px;
            background: url('../img/plus.png') no-repeat;
            right: 158px;
            top: -28px;   
            
        }
    }
    &__title{
        font-size: 86px;
        line-height: 1.04; 
        font-weight: 800;
        letter-spacing: .02em;
        text-transform: uppercase;
        position: relative;
        
        &::before{
            content: "";
            width: 56px;
            height: 56px;
            position: absolute;
            background: url('../img/play.png') no-repeat;
            left: -41px;
            bottom: 72px;
        }
    }
}

.ba-slider{
    padding-left: 135px;
    margin-bottom: 50px;
}

.ba-item{
    display: inline-block;
    color: $secondary-color;
    text-decoration: none;
    position: relative;

    &:hover{
        & .ba-item__caption{
            opacity: 1;
        }
    }
    
    img{
        display: block;
        position: relative;
    }

    &__caption{
        background-color: rgba(26, 231, 177, .7);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity .5s;

        &-body{
            position: absolute;
            max-width: 310px;
            padding: 10px;
            left: 20px;
            bottom: 20px;
        }
    }

    &__title{
        font-size: 28px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__subtitle{
        font-size: 12px;   
        text-transform: uppercase;
    }
}

.ba-slide{
    margin-left: 40px;
    display: inline-block;
    position: relative;

    &__controls{

        &--prev{
           left: 20px; 
        }

        &--next{
            right: 20px;
        }
    }
}

.slick-arrow{
	border: none;
	background: none;
	border-radius: 0;
	padding: 0;

	position: absolute;
	line-height: 0;
	font-size: 0;
	cursor: pointer;
	top: 50%;
	margin-top: -21px;
	outline: none;
	color: $primary-color;
	&:hover{
        color: #e98457;
		//color: lighten($primary-color, 30%);
	}
	svg{
		display: block;
		height: 96px;
		width: 96px;
		fill: currentColor;
	}	
}